*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:'Poppins',sans-serif;
    color:#333;
}

.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;

    padding:20px 8%;

    position:absolute;
    width:100%;
    z-index:100;
}

.logo{
    font-size:28px;
    font-weight:700;
    color:white;
}

.nav-links{
    list-style:none;
    display:flex;
    gap:35px;
}

.nav-links a{
    text-decoration:none;
    color:white;
    font-weight:500;
    transition:.3s;
}

.nav-links a:hover{
    color:#74b72e;
}

.hero{

    height:100vh;

    background:url("../images/hero.jpg") center center/cover no-repeat;

    display:flex;

    align-items:center;

    padding:0 8%;

}

.hero::before{

    content:"";

    position:absolute;

    inset:0;

    background:rgba(0,0,0,.45);

}

.hero-content{

    position:relative;

    color:white;

    max-width:650px;

}

.hero h1{

    font-size:60px;

    margin-bottom:20px;

}

.hero p{

    font-size:20px;

    line-height:1.7;

    margin-bottom:35px;

}

.btn{

    display:inline-block;

    padding:15px 35px;

    background:#74b72e;

    color:white;

    text-decoration:none;

    border-radius:50px;

    transition:.3s;

}

.btn:hover{

    background:#5b9820;

}
